button {
    font-family: 'Press Start 2P', cursive;
}

.scaleContainer {
    width: 100%;
    height: 0;
    padding-bottom: calc(100%*1329/2560);
    position: relative;
  }
  
  .contnentWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.economy__container {
    position: absolute;
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.economy_lobby{
    position: absolute;
    top: 20%;
    width: 40%;
    height: 55%;
    background: rgba(6, 10, 21, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.economy_lobby--inGame{
    position: absolute;
    top: 30%;
    width: 40%;
    height: 35%;
    background: rgba(6, 10, 21, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.economy__container .economy__link{
    position: absolute;
    top:50%;
    font-size: 1.2vw;
}

.economy__input{
    font-family: 'Press Start 2P', cursive;
    display: flex;
}

button {
    cursor: pointer !important;
}

.economy__input input {
    font-family: 'Press Start 2P', cursive;
    width: 23vw;
    color: white;
    font-size: 1vw;
    background: rgba(6, 10, 21, 0.7);
    border: 0.3vw solid #3C5165;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.economy__input button{
    background: #2985ba;
    padding: 3%;

    color: #FFFFFF;
    background: #2985ba;
    border-style: none;
    transition: 0.2s ease-in-out;

    font-size: 1.8vw;
}

.economy__input button:hover, .economy__create button:hover {
    background: #5baddc;
}

.economy__create {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

.economy__create button {
    padding: 3% 6% 3% 6%;

    color: #FFFFFF;
    background: #2985ba;
    border-style: none;
    transition: 0.2s ease-in-out;
    font-size: 1.8vw;
}

.economy__logo {
    position: absolute;
    top:0%;
    width: 130%;
}
.economy_gameId {
    cursor: pointer;
    user-select: none;
    position: absolute;
    font-size: 0.8vw;
    color: white;
    align-self: center;
    right: 3%;
    padding: 1%;
    background: rgba(55, 132, 168, 0.329);
}
/* NATION */

.nation__desription{
    position: absolute;
    width: 40%;
    height: 30%;
    bottom: 2%;
    left: 2%;

    background: rgba(6, 10, 21, 0.7);
    border: 0.3vw solid #3C5165;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 0.8vw;
    line-height: 1.3vw;

    padding: 0.5%;
    color: #C4C4C4;
}

.nation__button{
    background: rgba(6, 10, 21, 0.7);
    width: 15%;
    height: 35%;
    border: 0.3vw solid #3C5165;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;

    margin: 2.5%;
    margin-top: 10%;
    font-size: 1vw;
}

.nation__button svg {
    position: absolute;
    top: -15%;
    left: -2%;
    width: 70%;
    height: 15%;
}

.nation__button svg path{
    fill: #3C5165;
    stroke: #3C5165;
}

.nation__svg__name {
    color: rgb(177, 183, 202);
    position: absolute;
    top: -10%;
    left: 4%;
    font-size: 0.7vw;
    font-family: 'Press Start 2P', cursive;
}

.nation__desription svg {
    position: absolute;
    top: -15%;
    left: -31.1%;
    width: 100%;
    height: 15%;
}

.nation__desription svg path {
    fill: #3C5165;
    stroke: #3C5165;
}

.nation__svg__desciption__name {
    color: rgb(177, 183, 202);
    position: absolute;
    top: -10%;
    left: 1%;
    font-size: 0.9vw;
}

.nation__container {
    position: absolute;
    width: 100%;
    height:100%;
}

.nation__next {
    position: absolute;
    width: 17%;
    height: 8%;
    bottom: 15%;
    right: 20%;

    color: #FFFFFF;
    background: #2985ba;
    border-style: none;
    transition: 0.2s ease-in-out;

    font-size: 1.8vw;

}

.nation__next:hover {
    background: #5baddc;
}

.nation__left--active {
    background: rgba(14, 48, 53, 0.7);
    border: 0.3vw solid #7ccfd4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nation__left--active svg path{
    fill: #8FEDE7;
    stroke: #8FEDE7;
}

.nation__left--active .nation__svg__name {
    color: azure;
}

.nation__right--active {
    background: rgba(14, 48, 53, 0.7);
    border: 0.3vw solid #8FEDE7;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nation__right--active svg path{
    fill: #8FEDE7;
    stroke: #8FEDE7;
}

.nation__right--active .nation__svg__name {
    color: azure;
}

.nation__img {
    width: 100%;
    height: 100%;
}

/* NAVBAR */
.economy__navbar {
    position: absolute;
    top:0;
    width: 100%;
    height: 8%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
}

#navbar__logo {
    height: 100%;
}

.navbar__leave:hover {
    background-color: #b43232 !important;
}

.economy__navbar span {
    margin: 0 1vw 0 0;
    height: 100%;
    background: #b4323293;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C4C4C4;
    font-size: 1vw;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.economy__navbar span:hover {
    cursor: pointer;
    color: white;
    background: #d82323ce;
}

.economy__navbar .navbar__buttons {
    margin: 0 1vw 0 0;
    height: 100%;
    background: #43888d93;
    line-height: 1.5em;
    width: 10%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #C4C4C4;
    font-size: 1vw;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.economy__navbar span:hover {
    cursor: pointer;
    color: white;
    background: #5baddc;
}

/* HERO */
.hero__img {
    width: 100%;
    height: 100%;
}

.hero__desription{
    position: absolute;
    width: 30%;
    height: 70%;
    bottom: 12%;
    left: 2%;
    padding: 0.5%;
    color: #C4C4C4;

    background: rgba(6, 10, 21, 0.7);
    border: 0.3vw solid #3C5165;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-size: 1vw;
}

.hero__button{
    position: absolute;
    width: 30%;
    height: 53%;
    bottom: 30%;
    left: 33%;

    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: repeat(3, 33.3%);

    font-size: 1vw;
}

.hero__container {
    position: absolute;
    width: 100%;
    height:100%;
}

.hero__next {
    position: absolute;
    width: 17%;
    height: 8%;
    bottom: 15%;
    right: 20%;

    color: #FFFFFF;
    background: #2985ba;
    border-style: none;
    transition: 0.2s ease-in-out;

    font-size: 1.8vw;
}

.hero__next:hover {
    background: #5baddc;
}

.hero__portrait {
    background: rgb(88, 97, 78);
    margin: 5%;

    background: rgba(6, 10, 21, 0.7);
    border: 0.3vw solid #3C5165;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero__portrait--selected {
    background: rgba(14, 48, 53, 0.7);
    border: 0.3vw solid #8FEDE7;
}

.hero__desription svg {
    position: absolute;
    top: -10%;
    left: -1.1%;
    width: 60%;
    height: 10%;
}

.hero__desription svg path {
    fill: #3C5165;
    stroke: #3C5165;
}

.hero__svg__desciption__name {
    color: rgb(177, 183, 202);
    position: absolute;
    top: -5.5%;
    left: 3%;
    font-size: 0.9vw;
}

/* NATION */

.shop__main{
    width: 80%;
    height: 70%;

    display: grid;
    grid-template-columns: 10% 25% 32.5% 32.5%;
    grid-template-rows: 65% 35%;
    grid-template-areas: "tabs scroll spells items"
                         "tabs scroll units units";
}

.shop__container {
    position: absolute;
    width: 100%;
    height:100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.shop__next {
    position: absolute;
    width: 15%;
    height: 8%;
    bottom: 7%;
    right: 10.5%;

    color: #FFFFFF;
    background: #2985ba;
    border-style: none;
    transition: 0.2s ease-in-out;

    font-size: 1.8vw;
}

.shop__next:hover {
    background: #5baddc;
}

.shop__money {
    position: absolute;
    width: 15%;
    height: 8%;
    bottom: 7%;
    right: 25.5%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #40923d;

    background: rgba(6, 21, 7, 0.7);
    border: 0.3vw solid #40923d;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-size: 1.8vw;
}

.shop__tabs {
grid-area: tabs;

}
.shop__window{
grid-area: scroll;
overflow-y: scroll;

background: rgba(6, 10, 21, 0.7);
    border: 0.3vw solid #3C5165;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* .shop__spells {
grid-area: spells;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;
} */

.shop__units {
grid-area: units;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr;

}
.shop__window__item {
    font-size: 0.8vw;
    width: auto;
    height: fit-content;
    padding: 4% 2% 4% 2%;
    margin: 2%;

    background: rgba(6, 10, 21, 0.7);
    border: 0.3vw solid #3C5165;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    transition: 0.2s ease-in-out;
}

.shop__window__item:hover {
    border-color: #53a19c;
    background: rgba(14, 48, 53, 0.7);
}




.shop__window__item input {
    color: white;
    font-size: 0.8vw;
    width: 12%;
    background: rgba(6, 10, 21, 0.7);
    border: 0.1vw solid #3C5165;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.shop__window__item button{

    padding: 1.2% 2% 1.2% 2%;
    margin-right: 5%;

    color: #FFFFFF;
    background: #5a93b4;
    border-style: none;
    transition: 0.2s ease-in-out;

    font-size: 0.7vw;
}

.shop__window__item button:hover{
    background: #5baddc;
}

.shop__item__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}

.shop__unit__info {
    display: flex;
    justify-content: center;
    font-size: 0.5vw;
    margin-top: 5%;
    color: #c4c4c4;
}

.shop__unit__info--hidden {
    display: none;
}




.shop__tabs__tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 15%;
    margin: 0 0 5% 0;
    color: #3C5165;

    background: rgba(6, 10, 21, 0.7);
    border-top: 0.3vw solid #3C5165;
    border-bottom: 0.3vw solid #3C5165;
    border-left: 0.3vw solid #3C5165;

    font-size: 1vw;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    cursor: pointer;
}

.shop__tabs__tab--active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 15%;
    margin: 0 0 5% 0;
    color: #8FEDE7;

    background: rgba(14, 48, 53, 0.7);
    border: 0.3vw solid #8FEDE7;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-size: 1vw;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    cursor:pointer;
}

/* .shop__spells__spell {

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgba(6, 10, 21, 0.7);
    border: 0.3vw solid #3C5165;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    margin: 2%;
} */

.shop__units__unit {
    position: relative;
    background: rgba(6, 10, 21, 0.7);
    border: 0.3vw solid #3C5165;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 0.8vw;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    margin: 2%;
}


/* Lobby */
.economy__ready {
    display: flex;
    justify-content: center;
    margin-top: 3vw;
    gap: 0.8vw;
}

.economy__ready button {
    padding: 1vw 2vw 1vw 2vw;
    cursor: pointer;
    color: #FFFFFF;
    background: #2985ba;
    border-style: none;
    transition: 0.2s ease-in-out;
    font-size: 1.8vw;
}

.economy__ready button:hover {
    background: #5baddc;
}

#economy__ready__btn--clicked {
    background: #51b94d;
    color: #c7e4c7;
}

#economy__ready__start--locked {
    background: #4d4d4d;
    color: #6d6d6d;
    cursor: default !important;
}

/* ITEM SHOP */

.shop__items {
    grid-area: scroll;
    overflow-y: scroll;

    overflow-y: scroll;
    padding: 2%;
    margin: 1%;
    grid-area: items;
    background: rgba(6, 10, 21, 0.7);
    border: 0.3vw solid #3C5165;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.shop__items__item {
    margin-bottom: 1vw;
    width: 100%;
    height: 3vw;
    font-size: 0.8vw;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    color: white;
    background: rgba(6, 10, 21, 0.7);
    border: 0.3vw solid #3C5165;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.shop__spells {
    grid-area: scroll;
    overflow-y: scroll;

    overflow-y: scroll;
    padding: 2%;
    margin: 1%;
    grid-area: spells;
    background: rgba(6, 10, 21, 0.7);
    border: 0.3vw solid #3C5165;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.shop__spells__spell {
    margin-bottom: 1vw;
    width: 100%;
    height: 3vw;
    font-size: 0.8vw;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: white;
    background: rgba(6, 10, 21, 0.7);
    border: 0.3vw solid #3C5165;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.shop__spells__spell:hover, .shop__items__item:hover, .shop__units__unit:hover {
    border-color: rgb(126, 43, 28);
    background: rgba(27, 8, 8, 0.7);
}

.shop__units__unit img {
    height: 100%;
}

.unit__amount {
    color: white;
    position: absolute;
    padding: 0.4vw;
    top: 0;
    float: right;
    background: rgba(6, 6, 29, 0.795);
}