/*GENERAL*/
::-webkit-scrollbar {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  margin: 0;
  padding: 0;
}

/*ASPECT RATIO*/

.scaleContainer {
  width: 100%;
  height: 0;
  padding-bottom: calc(100%*1329/2560);
  position: relative;
}

.contnentWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonWrapper {
  position: absolute;
  width: 12%;
  height: 19%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*MAIN MENU*/
#menu, #canvas, #layout {
  position: absolute;
}

#start, #join {
  display: block;
  margin-bottom: 10%;
  width: 100%;
  height: 50%;
  transition: 0.3s ease-in;
}

#start:hover, #join:hover {
  box-shadow: 0px 0px 20px rgba(216, 159, 37, 0.836);
  background-color: rgba(216, 159, 37, 0.349);
}

.victoryScreen {
  position: absolute;
  background: rgba(6, 10, 21, 0.7);
    border: 0.2vw solid #546576;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #7CD6D0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  width: 30%;
  height: 30%;
  gap: 2vw;
}

.victoryScreen__buttons {
  display: flex;
  gap: 1vw;
}

.victoryScreen__buttons button {
  color:#AEE2DC;
  height: 2vw;
  font-size: 1vw;
  padding: 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(14, 48, 53, 0.7);
  border: 5px solid #7CD6D0;
  box-sizing: border-box;
  box-shadow: inset -10px -10px 10px rgba(212, 255, 252, 0.10), inset 10px 10px 10px rgba(212, 255, 252, 0.10);
}

.victoryScreen__buttons button:hover {
  color:#fbfdfd;
  background: #7CD6D0;
}

/*waitScreen*/
.waitScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  background: rgb(41, 46, 58);
  display: flex;
  justify-content: center;
  align-items: center;
}