body {
  margin: 0;
  background-color: black;
  overflow:hidden;
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 0.2vw;
}

.about{
  text-align: center;
  font-size: 1.5rem;
  color:white;
  background: rgba(6,10,21,0.85);
  width: 50%;
  height: 80%;
  margin-left: 25%;
  padding: 2%;
  top:  2.9%;
  overflow-wrap: break-word;
  position: fixed;
  border-radius: 25px;
}

.howto{
  text-align: center;
  font-size: 1.5rem;
  color:white;
  background: rgba(6,10,21,0.85);
  width: 50%;
  height: 80%;
  margin-left: 25%;
  top:  5%;
  padding: 2%;
  overflow-wrap: break-word;
  overflow: scroll;
  position: fixed;
  border-radius: 25px;
}

.howtoimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  height: 10%;
}

.howtoimgbig{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  height: 60%;
}

.victory{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  height: 30%;
}


.togame{
  text-align: center;
  font-size: 1rem;
  color:white;
  background: rgba(6,10,21,0.85);
  width: 10%;
  height: 15%;
  margin-left: 55%;
  top:5.4%;
  padding: 2%;
  position: fixed;
  border-radius: 25px;
}

.togamemain{
  text-align: center;
  font-size: 1rem;
  color:white;
  background: rgba(6,10,21,0.85);
  width: 10%;
  height: 15%;
  margin-left: 82%;
  top:5.4%;
  padding: 2%;
  position: fixed;
  border-radius: 25px;
}

.aboutus{
  background: rgba(6,10,21,0.85);
  position:relative;
}

.title{
  position:relative;
  text-align: center;
  color: white;
  font-size: 0.75rem;
  background-color: rgba(70, 35, 153, 0.3);
  border-radius:100px;
  top:25px;
  overflow: hidden;
  margin-left:30%;
  margin-right:30%;
}

.two{
  top:75px;
}

.description{
  position:relative;
  text-align: center;
  color: white;
  font-size: 0.6rem;
  line-height: 250%;
  top:40px;
  overflow: hidden;
  margin-left: 25%;
  margin-right: 25%;
  overflow-wrap: break-word;
}


a, a.togame {
  position:relative;
  top:10px;
  overflow: hidden;
  text-decoration: none;
  color: rgb(120, 114, 133);
  font-size:2rem;
}

a:hover {
  color: #bac5ce;
  background: #5921f3;
  box-shadow: 0 0 10px #3b6283, 0 0 40px #0d2030, 0 0 80px #101416;
  transition-delay: 0s;
}

.column {
  position:relative;
  margin-left: 10px;
  align-items: center;
  float: left;
  width: 20%;
  padding: 1px;
  opacity: 0.8;
}

.column p{
  text-align: left;
  margin-top: 100%;
  color: whitesmoke;
  font-size: 70%;
}

.column p2{
  text-align: justify;
  margin-top: 100%;
  margin-right: 10%;
  color: rgb(120, 114, 133);
  font-size: 100%;
}

.column img{
  width: 13%;
  position:absolute;
}

.row{
  margin-top:5%;
  margin-left: 20%;
  margin-right:5%;
}

.row::after {
  position:relative;
  content: "";
  clear: both;
  display: table;
}


.back img{
  position: absolute;
  height: 100%;
  width: 100%;
}

.units{
  font-size: 1rem;
  color:white;
  background: rgba(6,10,21,0.85);
  width: 50%;
  height: 75%;
  top:  5%;
  margin-right: 25%;
  margin-left:25%;
  padding: 2%;
  overflow-wrap: break-word;
  position: fixed;
  border-radius: 25px;
}

.unitstitle{
  position:relative;
  text-align: center;
  color: white;
  font-size: 1rem;
  background-color: rgba(117, 99, 156, 0.3);
  border-radius:100px;
  overflow: hidden;
  margin-left:5%;
  margin-right:5%;
  margin-bottom: 5%;
}

.unitsdesc{
  position:static;
  text-align: center;
  color: white;
  font-size: 1rem;
  overflow: hidden;
  width: 60%;
  float: left;
  padding: 10px;
}

.unitsstats{
  color: white;
  font-size: 1rem;
  overflow: hidden;
  width: 30%;
  float: right;
  height: 100%;
}

.unitsstatstext{
  text-align:left;
  color: white;
  font-size: 0.6rem;
  overflow: hidden;
  float: left;
  margin-top: 55%;
  line-height: 150%;
}



.unitsstats img{
  width: 10%;
  height: 15%;
}

.items{
  font-size: 1rem;
  color:white;
  background: rgba(6,10,21,0.85);
  width: 50%;
  height: 75%;
  top:  5%;
  margin-right: 25%;
  margin-left:25%;
  padding: 2%;
  overflow-wrap: break-word;
  position: fixed;
  border-radius: 25px;
}

.itemstitle{
  position:relative;
  text-align: center;
  color: white;
  font-size: 1rem;
  background-color: rgba(117, 99, 156, 0.3);
  border-radius:100px;
  overflow: hidden;
  margin-left:5%;
  margin-right:5%;
  margin-bottom: 5%;
}

.itemsdesc{
  position:static;
  text-align: center;
  color: white;
  font-size: 1rem;
  overflow: hidden;
  width: 60%;
  float: left;
  padding: 10px;
}

.itemsstats{
  color: white;
  font-size: 0.6rem;
  overflow: hidden;
  margin-top:1%;
  width: 30%;
  float: right;
  height: 100%;
  white-space:pre-line;
  line-height: 150%;
}

.itemsstatstext{
  text-align:left;
  color: white;
  font-size: 0.7rem;
  overflow: hidden;
  float: left;
  margin-top: 55%;
  line-height: 150%;
}


