.actionMenu {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 17%;
    height: 21%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    background: rgba(6, 10, 21, 0.7);
    border: solid #546576;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 
}

.actionMenu__spellbook {
    position: absolute;
    top: 10%;
    right: auto;
    left: auto;
    width: 85%;
    height: 35%;

    background: rgba(14, 48, 53, 0.7);
    border: 0.3vw solid #7CD6D0;
    box-sizing: border-box;
    box-shadow: inset -10px -10px 10px rgba(212, 255, 252, 0.25), inset 10px 10px 10px rgba(212, 255, 252, 0.25);

    color:#AEE2DC;
    
    font-size: 1.2vw;
    font-weight: bold;
    transition: 0.2s ease-in;
    font-family: 'Press Start 2P', cursive;

}



.actionMenu__pass {
    position: absolute;
    bottom: 10%;
    right: auto;
    left: auto;
    width: 85%;
    height: 35%;

    background: rgba(14, 48, 53, 0.7);
    border: 0.3vw solid #7CD6D0;
    box-sizing: border-box;
    box-shadow: inset -10px -10px 10px rgba(212, 255, 252, 0.25), inset 10px 10px 10px rgba(212, 255, 252, 0.25);

    color:#AEE2DC;
    
    font-size: 1.2vw;
    font-weight: bold;
    transition: 0.2s ease-in;
    font-family: 'Press Start 2P', cursive;

}

.actionMenu__pass:hover, .actionMenu__spellbook:hover {
    background: #7CD6D0;
    border: 0.3vw solid #7CD6D0;
    box-sizing: border-box;
    box-shadow: none;

    color: rgba(14, 48, 53, 0.7);
}

.svg-actions {
    color:#C4C4C4 ;
    position: absolute;
    top:-20%;
    right: -2%;
    background:#546576;
    width: 70%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.8vw;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 0.4rem;
}

.actionMenu__spellbook--active{
    position: absolute;
    top: 10%;
    right: auto;
    left: auto;
    width: 85%;
    height: 35%;

    background: #cf3333;
    border: 0.3vw solid #cf3333;
    box-sizing: border-box;
    box-shadow: none;

    color: rgba(14, 48, 53, 0.7);
    
    font-family: 'Press Start 2P', cursive;
    font-size: 1.2vw;
    font-weight: bold;
    transition: 0.2s ease-in;

}

.actionMenu__spellbook--active:hover{
    background: #eb4646;
    border: 0.3vw solid #eb4646;
    box-sizing: border-box;
    box-shadow: none;
}