.creaturePortrait {
    position: absolute;
    bottom: 0.5%;
    left: 0.5%;
    width: 13%;
    height: 24%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    background: #181D30F2;
    border: solid #546576;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}

.creatureInfo{
    position: absolute;
    bottom: 1.5%;
    left: 15%;
    width: 17%;
    height: 14%;
    overflow: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    background: #181D30F2;
    border: solid #546576;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 0.6vw;
    
}

.creatureInfo .stat {
    width: fit-content;
    margin-left: 3%;
    margin-top: 3%;
}

.unitCount {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -2%;
    left: -2%;
    width: 40%;
    height: 20%;
    background: #121622;
    border: 5px solid #546576;
    box-sizing: border-box;
    color: white;
    font-size: 1.2vw;
    font-weight: 400;
    font-family: 'Press Start 2P', cursive;
}

.uiBackground {
    width: 33.7%;
    height: 30%;
    position: absolute;
    left: 0;
    bottom: 0;
    pointer-events: none;
}

.unitPortrait {
    width: 100%;
    height: 100%;
}