.buff_container {
    position: absolute;
    bottom: 17.5%;
    left: 15%;
    width: 17.5%;
    height: 5%;

    display: flex;
    overflow: auto;
}

.buff{
    position:relative;
    width:15%;
    height:100%;
    border-radius:50%;
    
    background: rgba(75, 80, 98, 0.95);
    border: 5px solid #63778A;
    box-sizing: border-box;
    box-shadow: inset -5px 5px 10px rgba(0, 0, 0, 0.25), inset 5px -5px 10px rgba(0, 0, 0, 0.25), inset -5px -5px 10px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: center;
    align-items: center;
}

.buff svg{
    width: 70%;
}