.player1, .player2{
    position: absolute;
    overflow: auto;
    top: 0;
    width: 12%;
    height: 8%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(6, 10, 21, 0.897);
    border: solid #546576;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 1.2vw;
    font-family: 'Press Start 2P', cursive;
}

.player1 {
    left: 0;
    border-top: solid 0.5vw tomato;
}

.player2 {
    right: 0;
    border-top: solid 0.5vw goldenrod;
}