.spellbook {
    display: flex;
    pointer-events: all;
    position: absolute;
    width: 30%;
    height: 50%;
    background: rgba(6, 10, 21, 0.7);
    border: solid #546576;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.container {
    pointer-events: none;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.spell {
    position: relative;
    color: #7CD6D0;
    width: 100%;
    background: rgba(6, 10, 21, 0.7);
    border: solid #546576;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 2%;
    padding: 0;
    flex-grow: 0;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 1vw;
    font-size: 1rem;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 0.1rem;
}

.spellbook--deactivated {
    display: none;
}

.spellCancel {
    pointer-events: all;
    position: fixed;
    width: 12%;
    height: 5%;
    font-size: 0.7vw;
    align-self: flex-start;
    background: #cf3333;
    border: 5px solid #cf3333;
    box-sizing: border-box;

    color: rgba(14, 48, 53, 0.7);
    
    font-weight: bold;
}

.spellCancel--deactivated {
    display:none
}

.svg-spells {
    color:#C4C4C4 ;
    position: absolute;
    top:-10%;
    left: -0.4%;
    background:#546576;
    width: 40%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 1vw;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 0.4vw;
}

.svg-mana {
    color:#45EAEA ;
    position: absolute;
    top:-10%;
    left: 39.6%;
    background:rgba(68, 125, 156, 0.5);
    width: 20%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-size: 0.6vw;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 0.1rem;
}

.spell img {
    width: 100px;
    height: 100px;
    left: 0;
}

/* .spell button {
    position: absolute;
    right: 0;
    height: 100%;
    width: 15%;
    color:#AEE2DC;
    background: rgba(14, 48, 53, 0.7);
    border: 5px solid #7CD6D0;
    box-sizing: border-box;
    box-shadow: inset -10px -10px 10px rgba(212, 255, 252, 0.10), inset 10px 10px 10px rgba(212, 255, 252, 0.10);

    font-size: 0.8rem;
    font-weight: 600;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 0.1rem;
    transition: 0.2s ease-in;
}  */

.spell button:hover {
    background: #7CD6D0;
    color: rgba(14, 48, 53, 0.7);
}

.spellWindow {
    display: flex;
    scrollbar-width: none;
    flex-wrap: wrap;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding: 1%;
    gap: 10px;
    width: 100%;

    direction: column;
    height: 100%; 
}

.spellWindow::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    right: 6px;
}

.spellWindow::-webkit-scrollbar-thumb {
    background: #3f556b;
    border-radius: 1ex;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    margin: 2px;
}


ul {
    width: 100%;
    list-style: none;
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0px;
    margin: 0 0 0 1%;
    padding: 0;
}

.spellName {
    text-align: center;
}

.spellCast {
    position: absolute;
    right: 0;
    width: 20%;
    display: flex;
    flex-direction: column;

    font-size: 0.8rem;
    font-weight: 600;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 0.1rem;
    transition: 0.2s ease-in;

    margin-right: 1vw;
}

.spellCast button{
    color:#AEE2DC;
    height: 2vw;
    background: rgba(14, 48, 53, 0.7);
    border: 5px solid #7CD6D0;
    box-sizing: border-box;
    box-shadow: inset -10px -10px 10px rgba(212, 255, 252, 0.10), inset 10px 10px 10px rgba(212, 255, 252, 0.10);
}

.spellCast .spellCost {
    padding: 0.1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(79, 151, 218, 0.363);
    padding-top: 0.2vw;
}